<div class="clr-row">
  <div class="clr-col">
    <span>
      <img
        src="assets/characters/{{ userCharacter }}.png"
        height="56px"
        width="56px"
      />
    </span>
    <br />
    Action on: <strong> {{ actionOn }}</strong>
  </div>
  <div class="clr-col-lg-auto">
    <div class="game-board" [ngClass]="{ gameOver: !inProgress }">
      <div class="box" id="top-left" (click)="userMove($event)"></div>
      <div class="box" id="top-mid" (click)="userMove($event)"></div>
      <div class="box" id="top-right" (click)="userMove($event)"></div>
      <div class="box" id="mid-left" (click)="userMove($event)"></div>
      <div class="box" id="mid-mid" (click)="userMove($event)"></div>
      <div class="box" id="mid-right" (click)="userMove($event)"></div>
      <div class="box" id="down-left" (click)="userMove($event)"></div>
      <div class="box" id="down-mid" (click)="userMove($event)"></div>
      <div class="box" id="down-right" (click)="userMove($event)"></div>
    </div>
  </div>
  <div class="clr-col" *ngIf="!inProgress">
    <h3>Game over!</h3>
    <button
      (click)="playAgain()"
      type="button"
      class="btn btn-icon btn-primary"
      aria-label="settings"
    >
      Play again
      <clr-icon shape="play"></clr-icon>
    </button>
  </div>
</div>
