<h2>Choose your character!</h2>
<div class="clr-row clr-align-items-center">
  <div class="clr-col">
    <span></span>
  </div>
  <!-- Octopus character -->
  <div class="clr-col">
    <a routerLink="games/new/octopus"
      ><img src="assets/characters/octopus.png" alt="octopus icon"
    /></a>
  </div>
  <!-- Cyclops character -->
  <div class="clr-col">
    <a routerLink="games/new/cyclops"
      ><img src="assets/characters/cyclops.png" alt="cyclops icon"
    /></a>
  </div>
  <!-- Frankenstein character -->
  <div class="clr-col">
    <a routerLink="games/new/frank"
      ><img src="assets/characters/frank.png" alt="frankenstein icon"
    /></a>
  </div>
  <div class="clr-col">
    <span></span>
  </div>
</div>

<div class="clr-row clr-align-items-center">
  <div class="clr-col">
    <span></span>
  </div>
  <!-- Pinky character -->
  <div class="clr-col">
    <a routerLink="games/new/pinky"
      ><img src="assets/characters/pinky.png" alt="pink monster icon"
    /></a>
  </div>
  <!-- Aaargh character -->
  <div class="clr-col">
    <a routerLink="games/new/aaargh"
      ><img src="assets/characters/aaargh.png" alt="monster icon"
    /></a>
  </div>
  <!-- Smurf character -->
  <div class="clr-col">
    <a routerLink="games/new/smurf"
      ><img src="assets/characters/smurf.png" alt="monster icon"
    /></a>
  </div>
  <div class="clr-col">
    <span></span>
  </div>
</div>
